<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>margin</title>
    <style>
        html,
        body {
            height: 100%;
            margin: 0px;
        }
        
        .container {
            height: 100%;
            padding: 100px 0 0;
            box-sizing: border-box;
        }
        
        .top {
            background-color: red;
            height: 100px;
            margin-top: -100px;
        }
        
        .bottom {
            height: 100%;
            background-color: rosybrown;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="top"></div>
        <div class="bottom"></div>
    </div>
</body>

</html>