<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>float布局实现方式</title>
    <style>
        html,
        body {
            margin: 0px;
            padding: 0px;
        }
        
        .container>div {
            height: 100px;
        }
        
        .left {
            background-color: #ce5a4b;
            width: 100px;
            float: left;
        }
        
        .right {
            background-color: #499e56;
            margin-left: 100px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="left"></div>
        <div class="right"></div>
    </div>
</body>

</html>