<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>品字布局</title>
    <style>
        .container>div {
            height: 300px;
            width: 300px;
        }
        
        .top {
            margin: 0 auto;
            background-color: #f8cf5f;
        }
        
        .left {
            display: inline-block;
            background-color: #499e56;
        }
        
        .right {
            display: inline-block;
            background-color: #ce5a4b;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="top">上</div>
        <div class="left">左</div>
        <div class="right">右</div>
    </div>
</body>

</html>