<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>内容居中</title>
  <style>
    body {
      margin: 0;
    }
    .container{
      width: 80%;
      border: 2px solid red;
      box-sizing: border-box;
      margin: 30px auto;
    }
    .container header{
      height: 30px;
      background: #ffa;
    }
    .container .content {
      width: 80%;
      height: 300px;
      margin: 0 auto;
      background: #aaf;
    }
    .container footer {
      height: 50px;
      background: #fafa;
    }
  </style>
</head>
<body>
  <div class="container">
    <header></header>
    <div class="content"></div>
    <footer></footer>
  </div>
</body>
</html>