<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>三栏布局---flex</title>
  <style>
    .wrapper {
      box-sizing: border-box;
      border: 2px solid red;
      display: flex;
    }
    .left {
      width: 200px;
      height: 300px;
      background: #faa;
    }
    .content {
      flex: 1;
      height: 400px;
      background-color: #aaf;
    }
    .right {
      width: 200px;
      height: 500px;
      background: #afa;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="left"></div>
    <div class="content"></div>
    <div class="right"></div>
  </div>
</body>
</html>