<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>三栏布局--float</title>
  <style>
    .wrapper{
      margin-bottom: 30px;
      border: 2px solid red;
      box-sizing: border-box;
    }
    .wrapper .left {
      width: 200px;
      height: 300px;
      background: #faa;
      float: left;
    }
    .wrapper .right{
      width: 200px;
      height: 300px;
      background: #afa;
      float: right;
    }
    .wrapper .content {
      height: 300px;
      background-color: #aaf;
      margin:0 200px;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="left"></div>
    <div class="right"></div>
    <div class="content">123</div>
  </div>
</body>
</html>