<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>flex实现</title>
  <style>
    .wrapper {
      width: 80%;
      margin: 50px auto;
      border: 2px solid red;
      box-sizing: border-box;
      display: flex;
    }
    .nav {
      width: 200px;
      height: 500px;
      background: #faa;
    }
    .content {
      flex: 1;
      background: #aaf;
    }
  </style>
</head>
<body>
   <div class="wrapper">
     <div class="nav"></div>
     <div class="content"></div>
   </div>
</body>
</html>