<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>两栏布局-第二章方式</title>
  <style>
    .wrapper {
      width: 80%;
      margin: 50px auto;
      border: 2px solid red;
      box-sizing: border-box;
      font-size: 0;
      /* letter-spacing: -8px */
    }
    .nav {
      display: inline-block;
      width: 200px;
      background-color: #faa;
      height: 500px;
    }
    .content {
      width: calc(100% - 200px);
      display: inline-block;
      height: 500px;
      background-color: #aaf;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="nav"></div>
    <div class="content"></div>
  </div>
</body>
</html>