<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>两栏布局</title>
  <style>
    .wrapper{
      width: 80%;
      margin: 50px auto;
      border: 2px solid #aaa;
      box-sizing: border-box;
      overflow: hidden;
    }
    .nav {
      float: left;
      width: 200px;
      background: #faa;
      height: 500px;
    }
    .content {
      margin-left: 200px;
      height: 500px;
      background: #aaf;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <div class="nav"></div>
    <div class="content"></div>
  </div>
</body>
</html>